<div class="p-grid full">
    <div class="p-col-12 p-lg-6 p-d-flex p-ai-end p-ai-lg-center p-jc-center">
        <img width="55%" src="/assets/page_not_found.svg" alt="">
    </div>
    <div class="p-col-12 p-lg-6 p-d-flex p-flex-column p-jc-center">
        <h1 class="p-mb-3">Página não encontrada</h1>
        <p class="p-mb-5">Desculpe, a página que você procura não foi encontrada<br>Retorne a página inicial</p>
        <div>
            <p-button type="button" routerLink="/dashboard" icon="pi pi-home" label="Voltar a Home" styleClass="p-button-lg"></p-button>
        </div>
    </div>
</div>
