<div class="p-grid p-d-flex p-jc-center full">
  <div class="p-col-12 p-lg-6 p-d-flex p-ai-end p-ai-lg-center p-jc-center">
      <img width="55%" src="/assets/forgot_password.svg" alt="">
  </div>
  <div class="p-col-12 p-lg-4 p-d-flex p-flex-column p-jc-center">
    <h1 class="p-mb-3">Olá, {{ user?.razaosocial }}</h1>
    <p class="p-mb-5 text-color">
      Esqueceu sua senha, né?<br>
      Fique tranquilo basta digitar a nova senha que iremos trocar para você
    </p>
    <form class="p-fluid" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="p-field">
        <span class="p-float-label p-input-icon-left p-input-icon-right">
            <i class="pi pi-lock"></i>
            <input type="password" formControlName="password" [showPassword]="showPassword" pPassword [feedback]="false">
            <label>Senha</label>
            <i class="pi cursor-pointer" [ngClass]="{'pi-eye': showPassword, 'pi-eye-slash': !showPassword}" (click)="showPassword = !showPassword"></i>
        </span>
        <small class="p-error" *ngIf="resetPasswordForm?.get('password')?.invalid && resetPasswordForm?.get('password')?.dirty">{{globalService.controlFormInvalidMessage(resetPasswordForm?.get('password'), 'senha')}}</small>
      </div>
      <div class="p-field">
        <span class="p-float-label p-input-icon-left p-input-icon-right">
            <i class="pi pi-lock"></i>
            <input type="password" formControlName="confirmPassword" [showPassword]="showConfirmPassword" pPassword [feedback]="false">
            <label>Confirmar Senha</label>
            <i class="pi cursor-pointer" [ngClass]="{'pi-eye': showConfirmPassword, 'pi-eye-slash': !showConfirmPassword}" (click)="showConfirmPassword = !showConfirmPassword"></i>
        </span>
        <small class="p-error" *ngIf="resetPasswordForm?.get('confirmPassword')?.invalid && resetPasswordForm?.get('confirmPassword')?.dirty">{{globalService.controlFormInvalidMessage(resetPasswordForm?.get('confirmPassword'), 'confirmar senha')}}</small>
      </div>
      <div class="p-fluid p-mb-1">
        <button pButton pRipple type="submit" label="Redefinir Senha"></button>
      </div>
    </form>
  </div>
</div>
