<div class="p-grid">
    <div class="p-col p-p-3">
        <form class="p-fluid" [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
            <div class="p-field">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input type="email" formControlName="email" pInputText>
                    <label>Email</label>
                </span>
                <small class="p-error" *ngIf="recoverPasswordForm?.get('email')?.invalid && recoverPasswordForm?.get('email')?.dirty">{{globalService.controlFormInvalidMessage(recoverPasswordForm?.get('email'), 'email')}}</small>
            </div>
            <div class="p-fluid">
              <button pRipple pButton type="submit" [label]="config.header || 'Recuperar Senha'"></button>
            </div>
        </form>
    </div>
</div>
