#login-container {
    width: 350px;
    height: 100vh;
}
#login-image img {
    width: 70%;
    height: 70%;
}
.social-media > a {
  margin-right: 0.8rem;
  > i {
    font-size: 1.5rem;
  }
}
@media(max-width: 992px) {
    #login-container {
        width: 95vw;
        height: 85vh;
    }
}
@media(max-height: 562px) {
    #logo-image {
        display: none!important;
    }
}
