$primary: #673AB7;
$primary-dark: #683ab78e;
$secondary: #be7979;
$ternary: #903749;
$quaternary: #53354a;

$error: #f44435;

$background-color: #ffffff;

//Basic Colors
$white: #ffffff;
$plain: #a3a39c;
